.banner_section {
    width: 100%;
    padding-bottom: 60px;
}

.banner_taital {
    width: 100%;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.buynow_bt {
    width: 170px;
    margin: 0 auto;
    padding-top: 30px;
}

.buynow_bt a {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    background-color: #252525;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.buynow_bt a:hover {
    background-color: #f26522;
    color: #ffffff;
}

/* Обертка для кнопок навигации */
.slider_nav_wrapper :global(.carousel-control-next),
.slider_nav_wrapper :global(.carousel-control-prev) {
    width: 45px;
    height: 45px;
    background: rgba(242, 222, 172, 0.80);
    opacity: 1;
    font-size: 20px;
    color: #000;
    border-radius: 100px;
    top: 40px;
}

.slider_nav_wrapper :global(.carousel-control-next:hover),
.slider_nav_wrapper :global(.carousel-control-prev:hover) {
    color: #fff;
    background-color: #f26522;
}