/* src/components/layout/BannerBgMain/BannerBgMain.module.css */

.banner_bg_main {
    width: 100%;
    /* float: left; - удаляем, в Next.js используем поток или flex */
    background-image: url("/images/banner-bg.png");
    height: auto;
    background-size: cover; /* cover лучше, чем 100%, для адаптивности */
    background-repeat: no-repeat;
    background-position: center top;
}