/* src/components/layout/HeaderTop/HeaderTop.module.css */

.header_section_top {
    width: 100%;
    background-color: #2b2a29;
    /* Тот самый треугольный скос по бокам */
    clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
    height: auto;
    padding: 10px 0px;
}

.custom_menu {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.custom_menu ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.custom_menu li {
    float: left;
    font-size: 16px;
    padding: 6px 10px 0px 10px;
}

.custom_menu li a {
    color: #f1f1f1;
    transition: all .3s ease-in-out;
}

.custom_menu li a:hover {
    color: #f26522;
}