/* src/components/layout/Footer/Footer.module.css */

.footer_section {
    width: 100%;
    background-color: #252525;
    height: auto;
    color: #ffffff;
}

.footer_logo {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.input_bt {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    border-bottom: 1px solid #ffffff !important;
    align-items: center;
}

.mail_bt {
    width: 100%;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    padding: 5px 0px;
    height: 60px;
    border: 0px;
    outline: none;
}

.mail_bt::placeholder {
    color: #fff;
}

.subscribe_bt {
    width: 30%;
    font-size: 16px;
    color: #f26522;
    background-color: transparent;
    padding: 20px 0px 5px 0px;
    border: 0px;
    text-transform: uppercase;
    text-align: right;
    cursor: pointer;
}

.subscribe_bt a {
    color: #f26522;
    text-decoration: none;
}

.subscribe_bt a:hover {
    color: #ffffff;
}

.footer_menu {
    width: 100%;
    margin: 30px auto 0;
    text-align: center;
}

.footer_menu ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.footer_menu li {
    font-size: 16px;
}

.footer_menu li a {
    color: #f1f1f1;
}

.footer_menu li a:hover {
    color: #f26522;
}

.location_main {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-size: 16px;
    color: #ffffff;
}

.location_main a {
    color: #ffffff;
}

.location_main a:hover {
    color: #f26522;
}